<%= form_for([:admin, @twitter_block]) do |f| %>
    <%= errors_for(@twitter_block, t('twitter_blocks.unable_save')) %>
    <table class="loginTBL">
        <tr>
            <td><%= f.label :search, t('activerecord.attributes.twitter_block.search') %></td>
            <td>
              <div class="field"><%= f.text_field :search %></div>
            </td>
        </tr>

        <tr>
            <td><%= f.label :title, t('activerecord.attributes.twitter_block.title') %></td>
            <td>
              <div class="field"><%= f.text_field :title %></div>
            </td>
        </tr>

        <tr>
            <td><%= f.label :subject, t('activerecord.attributes.twitter_block.subject') %></td>
            <td>
              <div class="field"><%= f.text_field :subject %></div>
            </td>
        </tr>

        <tr>
            <td><%= f.label :footer_text, t('activerecord.attributes.twitter_block.footer_text') %></td>
            <td>
              <div class="field"><%= f.text_field :footer_text %></div>
            </td>
        </tr>

        <tr>
            <td></td>
            <td class="save">
                <button type="submit"><span><span><%= params[:id] ? t('twitter_blocks.update') : t('twitter_blocks.add_a_block') %></span></span></button>
            </td>
        </tr>
    </table>
<% end %>
