<%= form_for(@profile) do |f| %>
  <%= errors_for(@profile, t('errors.changes_not_saved')) %>

  <%= render 'profiles/name', :f => f %>
  <%= render 'profiles/level', :f => f %>

  <div class="field">
    <%= f.label :subscribed_for_comments, t('profile.subscribed_for_comments') %>
    <%= f.check_box :subscribed_for_comments %>
  </div>

  <div class="actions">
    <%= f.submit t('common.update') %>
  </div>
<% end %>
