        <tr>
            <th colspan="2" class="title"><%= t('profile.subscriptions') %></th>
        </tr>
        <tr>
            <td><%= t 'activerecord.attributes.user.email' %></td>
            <td>
            <%= f.fields_for :user, user do |user_form|%>
                <div class="field"><%= user_form.email_field :email %></div>
            <% end %>
            </td>
        </tr>

        <%= render 'profiles/news_comments_subscription', :f => f %>

