<div class="forms">
<h1><%= t('devise.confirmations.resend') %></h1>

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>

<table class="loginTBL">
  <tr>
    <td><%= f.label :email %></td>
    <td>
      <div class="field"><%= f.email_field :email %></div>
    </td>
  </tr>
  <tr>
    <td></td>
    <td class="save">
      <%= content_tag :button, :type => :submit, :name => :commit do %>
        <span><span class="button_font_small"><%= t('devise.confirmations.resend') %></span></span>
      <% end %>
    </td>
  </tr>

<% end %>

<%= render :partial => "devise/shared/links" %>

</table>

</div>
