<% if resource.encrypted_password.present? %>
  <div class="forms">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= devise_error_messages! %>
    <table class="loginTBL">

    <tr>
      <td><%= f.label :email %></td>
      <td>
        <div class="field"><%= f.email_field :email %></div>
      </td>
    </tr>

    <tr>
      <td><%= f.label :password %> <i>(<%= t('users.leave_blank_if_no_changes') %>)</i></td>
      <td>
        <div class="field"><%= f.password_field :password %></div>
      </td>
    </tr>

    <tr>
      <td><%= f.label :password_confirmation %></td>
      <td>
        <div class="field"><%= f.password_field :password_confirmation %></div>
      </td>
    </tr>

    <tr>
      <td><%= f.label :current_password %> <i>(<%= t('users.we_need_your_password') %>)</i></td>
      <td>
        <div class="field"><%= f.password_field :current_password %></div>
      </td>
    </tr>

      <tr>
        <td></td>
        <td class="save">
          <button type="submit"><span><span><%= t('common.update') %></span></span></button>
        </td>
      </tr>
      </table>
    <% end %>
  </div>
<% else %>
  <p><%= t('usrs.no_passwd_no_data_changes') %></p>
  <div><%= t('activerecord.attributes.user.email') %>: <%= resource.email %></div>
  <%= link_to t('users.reset_my_password'), user_reset_password_url %><br />
<% end %>

<%= link_to t('users.cancel_my_account'), registration_path(resource_name), :confirm => t('common.are_you_sure'), :method => :delete %>
