<div class="to_comment">
  <div class="upic">
    <%= image_tag userpic_url(current_user, 50) %>
  </div>
    <div class='forms'>
      <%= form_for [comment.article, comment], :format => :json, :remote => true do |f| %>
      <div class='inner_wrapper'><%= f.text_area :body %></div>
      <div>
        <%= content_tag :button, :type => :submit, :name => :commit do %>
          <%= button_inner_html comment.id ? t('articles.comment_edit') : t('articles.leave_a_comment') %>
        <% end %>
      </div>
      <% end %>
    </div>
</div>
