<div class="to_comment">
  <div class="upic">
    <%= image_tag userpic_url(current_user, 50) %>
  </div>
    <div>
      <%= form_for [comment.article, comment], :remote => true do |f| %>
      <div><%= f.text_area :body %></div>
      <div>
        <%= content_tag :button, :type => :submit, :name => :commit do %>
          <span><span><%= t('articles.leave_a_comment') %></span></span>
        <% end %>
      </div>
      <% end %>
    </div>
</div>
