<%= div_for comment, :class => "comment_wrapper #{'nested_comment' if comment.parent}" do %>
  <div class="comment">
    <b><%= comment.user.profile.full_name %></b>
    <% if can? :delete, comment %>
        <%= link_to_if(can?(:update, comment), t('articles.edit'), edit_comment_path(comment),
                    :remote => true, :class => 'comment-edit-link', :title => t('articles.edit')) %>
        <%= link_to t('articles.delete'), comment_path(comment),:method => :delete,
                    :confirm => t('common.are_you_sure'), :remote => true, :class => 'comment-delete-link' %>
    <% end %>

    <div class="upic">
      <%= image_tag userpic_url(comment.user, 50) %>
    </div>
    <div class="comment_text"><%= comment.body %></div>
    <span class="date"><%= l(comment.created_at, :format => :long) %></span>
    <span><%= link_to t('articles.comment_answer'), new_comment_comments_path(comment),
                      :remote => true, :class => 'comment-answer-link' %></span>
    <div class='nested_comments_box'>
      <%= render :partial => "comments/show",
                     :collection => comment.children.includes(:parent, :children, :user => :profile),
                     :as => 'comment' %>
    </div>
  </div>
<% end %>
