<%= div_for comment do %>
  <hr/>
  <div>
    <b><%= link_to comment.user.profile.full_name, "mailto:#{ comment.user.email }" %></b>
    <%= distance_of_time_in_words_to_now(comment.created_at) %> ago wrote:
    <% if can? :delete, comment %>
        <%= link_to "Delete", article_comment_path(comment.article, comment), :method => :delete ,  :confirm => 'Are you sure?', :remote => true %>
    <% end %>
  </div>
  <div>
    <%= link_to_if(can?(:update, comment), comment.body, edit_article_comment_path(comment.article, comment), :remote => true, :title => "click for edit") %>
  </div>
<% end %>
