<h1><%= t('articles.listing_articles') %></h1>

<%= link_to button_inner_html(t('articles.add_an_article')), new_admin_article_path, :class => :button %>

<% if @articles.empty? %>

  <%= t('articles.no_news') %>

<% else %>

  <table class='list-table'>
    <tr>
      <th><%= t('articles.title') %></th>
      <th></th>
    </tr>

    <% @articles.each do |article| %>
      <tr>
        <td><%= link_to article.title, edit_admin_article_path(article), :title => t('articles.editing_article') %></td>
        <td><%= link_to t('articles.delete'), admin_article_path(article), confirm: t('common.are_you_sure'), method: :delete %></td>
      </tr>
    <% end %>
  </table>

<% end %>

<%= will_paginate @articles %>
