<% if can? :create, Article %>
   <%= link_to t('articles.new_article'), new_admin_article_path %>
<% end %>

<% if @articles.empty? %>
  <%= t('articles.no_news') %>
<% else %>

  <% @articles.each do |article| %>
  <div class="item">
    <h2>
      <%= link_to article.title, article %>
    </h2>
    <div class="iteminfo">
      <span class="date"><%= article.created_at%></span>
    </div>
    <p><%= raw article.content %></p>
        <%= link_to t('articles.show'), article %>
        <% if can? :manage, article %>
        <%= link_to t('articles.edit'), edit_admin_article_path(article) %>
        <%= link_to t('articles.delete'), admin_article_path(article),
                      :confirm => t('articles.are_you_sure'), :method => :delete %>
        <% end %>
  </div>
  <% end %>

  <div class="pages">
    <a><%= will_paginate @articles %></a>
  </div>

<% end %>

<%= render_widget :meetup %>
