<h1><%= t('articles.listing_articles') %></h1>

<% if @articles.empty? %>

   <%= t('articles.no_news') %>

<% else %>

  <table>
    <tr>
      <th><%= t('articles.title') %></th>
      <th>Content</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= raw article.content %></td>
      <td><%= link_to t('articles.show'), article %></td>
      <% if can? :manage, article %>
        <td><%= link_to t('articles.edit'), edit_admin_article_path(article) %></td>
        <td><%= link_to t('articles.delete'), admin_article_path(article), :confirm => t('articles.are_you_sure'), :method => :delete %></td>
      <% end %>
    </tr>
  <% end %>
  </table>

<% end %>

<br />

<% if can? :create, Article %>
  <%= link_to t('articles.new_article'), new_admin_article_path %>
<% end %>

<%= will_paginate @articles %>
