<p>
  <b><%= t('articles.title') %>:</b>
  <%= @article.title %>
</p>

<p>
  <b><%= t('articles.content') %>:</b>
  <%= raw @article.content %>
</p>

<%= render :partial => "sharing_buttons" %>

<%= render "comments/index" %>
