<div class="item">
  <h2>
    <%= @article.title %>
  </h2>

  <div class="iteminfo">
    <span class="date"><%= l(@article.created_at, :format => :long) %></span>
    <span class="author"><%= @article.user.profile.full_name %></span>
    <span class="comments"><%= @article.comments.size %></span>
  </div>
  <div>
        <p><%= raw @article.content.gsub(/\{MORE\}/, '') %></p>
  </div>
  <%= render :partial => "sharing_buttons" %>

  <%= render "comments/index" %>
</div>
