<p>
  <b><%= t('articles.title') %>:</b>
  <%= @article.title %>
</p>

<p>
  <b><%= t('articles.content') %>:</b>
  <%= raw @article.content %>
</p>

<%= render :template => "layouts/sharing_buttons.html.erb" %>

<%= render "comments/index" %>
