<tr>
  <td>
    <%= link_to "#{ user.profile.first_name } #{ user.profile.last_name }", { :controller => :profiles, :action => :show, :id => user.profile.id } %>
    <%= "(Attention!!! This is you!)" if user == current_user %>
  </td>
  <td>
    <%= link_to user.email, "mailto:#{ user.email }" %>
  </td>
  <td>
  <%= div_for user, :class => "link_to_admin" do %>
    <%= link_to_if can(:change_admin), link_to_admin_title(user), { :action => :change_admin_state, :id => user } %>
  <% end %>
  </td>
</tr>
