<div class="forms registration">
  <h2><%= t("meetup.registration_to_meetup") %></h2>

  <h3><%= @meetup.topic %></h3>

  <p><%= @meetup.description %></p>

  <%= simple_form_for [@meetup, @participant], :html => {:autocomplete => "off", :id => 'participation'} do |f| %>
      <%= f.hidden_field :meetup_id, :value => @meetup.id, :name => "meetup_id" %>
      <div class='fields'>
        <%= f.fields_for :quizzes do |ff| %>
            <%= ff.hidden_field :question_id %>
            <% question = ff.object.question %>
            <% if question.text_field? %>
                <%= ff.input :answer, :as => :string, :label => "#{question.gist} #{'*' if question.required}" %>
            <% elsif question.text_area? %>
              <%= ff.input :answer, :as => :text, :label => "#{question.gist} #{'*' if question.required}" %>
            <% elsif question.dropdown? %>
                <%= ff.input :answer, :as => :select, :collection => question.answers.map(&:gist), :include_blank => false, :label => "#{question.gist} #{'*' if question.required}" %>
            <% elsif question.yes_no_dropdown? %>
                <%= ff.hint "#{question.answers[0].gist}", :style => "display: none" %>
                <%= ff.input :answer, :as => :select,
                             :collection => [[t("activerecord.attributes.answer.answer_no"), false], [t("activerecord.attributes.answer.answer_yes"), true]],
                             :include_blank => false,
                             :label => "#{question.gist} #{'*' if question.required}",
                             :input_html => { :class => 'answer_choise' }  %>
            <% elsif question.checkboxes? %>
                <%= ff.input :answer, :as => :check_boxes, :collection => question.answers.map(&:gist), :label => "#{question.gist} #{'*' if question.required}" %>
            <% end %>
        <% end %>
      </div>
      <button type="submit"><span><span><%= t("meetup.confirm_participation") %></span></span></button>
  <% end %>
</div>
<%= javascript_include_tag "questions" %>
