<h2>Enter your email</h2>

<%= form_tag(:controller => 'users', :action => 'omniauth_create', :method => "post") do  %>

  <%= errors_for(@user) %>

  <div><%= label_tag :user_email, "Email" %><br />
  <%= email_field :user, :email %></div>
  <div><%= submit_tag "Update" %></div>

<% end %>
