<%= javascript_include_tag "/javascripts/ckeditor/ckeditor.js" %>
<%= form_for(@custom_news) do |f| %>
  <% if @custom_news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@custom_news.errors.count, "error") %> prohibited this custom_news from being saved:</h2>

      <ul>
      <% @custom_news.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.cktext_area :content %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.select(:status, [['published', 0], ['unpublished', 1]]) %>
  </div>
  <div class="actions">
    <% if params[:id] != nil %>
      <%= submit_tag 'Update' %>
      <%= submit_tag 'Delete', :onclick=>'update_edit_custom_news_action();' %>
    <% else %>
      <%= submit_tag 'Create' %>
    <% end %>
  </div>
<% end %>
