<h1>Listing custom news</h1>

<% if @custom_news.empty? %>

   There is no news at the moment.
      
<% else %>

  <table>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @custom_news.each do |custom_news| %>
    <tr>
      <td><%= custom_news.title %></td>
      <td><%= raw custom_news.content %></td>
      <td><%= link_to 'Show', custom_news %></td>
      <% if can? :manage, custom_news %>
        <td><%= link_to 'Edit', edit_custom_news_path(custom_news) %></td>
        <td><%= link_to 'Delete', custom_news, confirm: 'Are you sure?', method: :delete %></td>
      <% end %>
    </tr>
  <% end %>
  </table>

<% end %>

<br />

<% if can? :create, CustomNews %>
  <%= link_to 'New Custom news', new_custom_news_path %>
<% end %>

<%= will_paginate @custom_news %>
