<p>
  <b>Title:</b>
  <%= @custom_news.title %>
</p>

<p>
  <b>Content:</b>
  <%= raw @custom_news.content %>
</p>

<%= render partial: "comments/showall" %>

<%= link_to 'Edit', edit_custom_news_path(@custom_news) %> |
<%= link_to 'Back', custom_news_index_path %>
