<%= widget_div do %>
  <h1>
    <%= @meetup.topic %>
  </h1>

  <p>
    <%= @meetup.description %>
  </p>

  <p><%= t('labels.date') %>: <%= @meetup.date_and_time %></p>
  <p><%= t('labels.place') %>: <%= @meetup.place %></p>

  <% if @current_user %>
    <%= link_to t('meetup.register_at'), url_for_event(:register), :remote => true %>
  <% else %>
    <%= t('meetup.signed_in_to_attend') %> <%= link_to t('profile.login'), login_path %>
  <% end %>
<% end %>


