<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Text:</b>
  <%= @post.text %>
</p>

<div id="commentsblock">
  <div>
      <%= render :partial => "comments/form" %>
  </div>
  <div id="commentnotice" style="text-align: center; color: #006400;">
    <%= params[:notice] %>
  </div>
  <div id="comments" style="text-align: center;">
      <%= render :partial => "comments/show", :collection => @post.comments %>
  </div>
  <hr/>
</div>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
