<%= javascript_include_tag "/javascripts/ckeditor/ckeditor.js" %>
<div class="forms">
  <%= form_for([:admin, @static_page]) do |f| %>
    <table class="loginTBL">
            <tr>
                <td><%= f.label :title %></td>
                <td>
                  <div class="field"><%= f.text_field :title %></div>
                </td>
            </tr>
            <tr>
                <td><%= f.label :permalink  %></td>
                <td>
                  <div class="field"><%= f.text_field :permalink %></div>
                </td>
            </tr>
            <tr>
                <td><%= f.label :content %></td>
                <td></td>
            </tr>
            <tr>
              <td colspan="2"><div class="field"><%= f.cktext_area :content %></div></td>
            </tr>
            <tr>
                <td></td>
                <td class="save">
                    <% if params[:id] != nil %>
                      <button type="submit"><span><span><%= t('articles.update') %></span></span></button>
                    <% else %>
                      <button type="submit"><span><span><%=t('articles.create') %></span></span></button>
                    <% end %>
                </td>
            </tr>
    </table>
  <% end %>
</div>
