<h1><%= t('static_pages.list') %></h1>

<%= link_to button_inner_html(t('static_pages.new')), new_admin_static_page_path, :class => 'button' %>

<% if @static_pages.empty? %>
    <%= t('static_pages.no_pages') %>
<% else %>

  <table class="list-table">
    <tr>
      <th><%= t 'static_pages.title' %></th>
      <th></th>
    </tr>

  <% @static_pages.each do |static_page| %>
    <tr>
      <td><%= link_to static_page.title, edit_admin_static_page_path(static_page), :title => t('static_pages.edit') %></td>
      <td><%= link_to t('articles.delete'), admin_static_page_path(static_page), :confirm => t('common.are_you_sure'), :method => :delete %></td>
    </tr>
  <% end %>

  </table>

<% end %>


