<p><%= t("devise.mailer.greetings", :resource_email => @resource.email) %></p>

<p><%= t('devise.passwords.password_change_requested') %></p>

<p><%= link_to t('devise.passwords.submit_change_password'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%= t('devise.mailer.ignore_email') %></p>
<p><%= t('devise.passwords.reject_password_change') %></p>
