<tr>
  <td><%= @users.total_entries - (user_counter + @users.offset) %></td>
  <td>
    <%= link_to user.profile.full_name, edit_profile_path(user.profile), :title => t('admin.users.edit_profile') %>
    <%= "<span class='warn-message'>#{ t('devise.info.this_is_you') }</span>".html_safe if user == current_user %>
  </td>
  <td>
    <%= mail_to user.email, user.email, :title => t('admin.users.send_to', :name => user.profile.full_name) %>
  </td>
  <td><%= l params[:filters] ? user.participants.last.created_at : user.created_at, :format => :short %></td>
  <td><%= user.answered_questions(params[:filters]).join("<br />").html_safe %></td>
  <td>
    <ul>
      <li><%= link_to(link_to_admin_title(user), admin_user_path(user, :attr => 'admin'), :method => :put, :confirm => t('common.are_you_sure')) if can? :update, user %> </li>
      <li><%= link_to(link_to_banned_title(user), admin_user_path(user, :attr => 'banned'), :method => :put) if can? :ban, user %> </li>
      <% if params[:filters] %>
          <li><%= link_to(t('admin.participants.delete'), participants_destroy_path(:user_id => user.id, :filters => params[:filters]), :method => :delete) if can? :destroy, user %> </li>
      <% end %>
      <li><%= link_to(t('users.cancel_my_account'), admin_user_path(user), :method => :delete, :confirm => t('common.are_you_sure')) if can? :destroy, user %> </li>
    </ul>
  </td>
</tr>
