<tr>
  <td>
    <%= link_to user.profile.full_name, profile_path(user.profile) %>
    <%= t('devise.info.this_is_you') if user == current_user %>

  </td>
  <td>
    <%= mail_to user.email %>
  </td>
  <td>
    <%= link_to(link_to_admin_title(user), admin_user_path(user, :attr => 'admin'), :method => :put, :confirm => t('common.are_you_sure')) if can? :update, user %>
    <%= link_to(link_to_banned_title(user), admin_user_path(user, :attr => 'banned'), :method => :put) if can? :ban, user %>
  </td>
</tr>
