<h1><%= t 'admin.users.manage_users_title' %></h1>
<%= form_tag(admin_users_path, :method => "post", :class=>'forms') do %>
    <table class='loginTBL'>
      <tr>
        <td><%= t 'admin.users.filter_list' %><span class='i-warn-message'><%= t 'admin.users.all_user_remark' %></span></td>
        <td>
          <div class='field'>
            <%= select_tag 'filters',
                           options_from_collection_for_select(Meetup.order('topic').all, 'id', 'topic', params[:filters]),
                           { :multiple => true } %>
          </div>
        </td>
      </tr>
      <tr>
        <td></td><td></td>
      </tr>
      <tr>
        <td class='field' colspan='2'>
            <button type="submit" onclick="$(this).closest('form').attr('action', '<%= admin_users_path %>');">
              <span><span><%= t 'admin.users.filter' %></span></span>
            </button>
            <button type="submit" onclick="$(this).closest('form').attr('action', '<%= admin_users_path(:format => 'csv') %>');">
              <span><span><%= t 'admin.users.download_csv' %></span></span>
            </button>
        </td>
    </table>
<% end %>

<table class='list-table'>
    <tr>
      <th><%= t 'activerecord.attributes.profile.first_name' %></th>
      <th><%= t 'activerecord.attributes.user.email' %></th>
      <th><%= t 'activerecord.attributes.user.created_at' %></th>
      <th></th>
    </tr>
    <%= render :partial => "admin/users/user", :collection => @users %>
</table>

<%= will_paginate @users %>
