<% @meetups.each do |meetup| %>
<div class="participate">
  <div id='meetup'>
    <h3><%= meetup.topic %></h3>

    <div class="iteminfo">
      <span class="date"><%= l(meetup.date_and_time, :format => :long) %></span>
    </div>

    <p><%= meetup.description %></p>
    <% unless meetup.url.blank? %>
        <p><%= link_to t('meetup.more_info'), meetup.url %></p>
    <% end %>
    <%= render :partial => "application/participate_button", :locals => { :meetup => meetup } %>
  </div>

  <%= render :file => "app/views/application/_sharing_buttons.html.erb", :locals => { :share => { :url => meetup.url, :title => meetup.topic, :description => meetup.description } } %>
</div>
<% end %>
