<% if meetup && meetup.active? %>
  <% unless meetup.status? %>
    <span class="mp-closed"><%= t('meetup.closed') %></span>
  <% end %>

  <% if @current_user && current_user_is_participant?(meetup.id) %>
    <span class="mp-pass"><%= link_to button_inner_html(t('meetup.unregister')), meetup_participants_destroy_path(meetup.id), :method => :delete, :confirm => t('common.are_you_sure'), :class => 'button gray' %></span>
  <% else %>
    <% if meetup.status? %>
      <%= link_to button_inner_html(t('meetup.attend_to')), new_meetup_participant_path(meetup.id), :class => 'button' %>
    <% elsif @current_user %>
      <%= t('meetup.pass') %>
    <% end %>
  <% end %>

<% else %>
    <%= link_to button_inner_html(t('meetup.obsolete')), "javascript:void(0);", :class => 'button gray active' %>
<% end %>
