<% if @videos.empty? %>
  <%= t('videos.no_videos') %>
<% else %>
  <% @videos.each do |video| %>
    <div class="item fetched-video">
      <h3>
        <%= video.title %>
      </h3>
      <div class="iteminfo">
        <span class="date"><%= l(video.published_at, :format => :long) %></span>

        <div class='cl_all'></div>
        <iframe class='video-frame' src="<%= video.media_content.first.url %>"></iframe>
        <%= link_to button_inner_html(t('videos.save_video')), admin_videos_path(:fetched_video => {:title => video.title, :description => video.description, :content => video.media_content.first.url, :published_at => video.published_at}), :method => :post, :class => [:button, :right] %>
      </div>

    </div>
  <% end %>

  <div class="pages">
    <%= will_paginate @videos %>
  </div>

<% end %>
